body {
font-family: 'Roboto';
margin: 0;
padding: 0;
line-height: 1;
}

body h1 {
    background-color: rgb(226, 183, 183);
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    
   
}

body h2 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: px;
    font-size: 1.8rem;
    
}

body h3{
padding: 20px;
text-align:center;

}

header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 1px;
}

main {
    padding: 20px;
}

button {
    
    border-radius: 5px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
    border: none;
    padding: 10px 20px;
}

button:hover {
    transform: scale(1.1); 
    

}

img {
    
    border-radius: 14px;
    transition: transform 0.2s ease;

}



.left_text{
    text-wrap: nowrap;
}

.center_text{
    text-wrap: nowrap;
}

.right_text{
    text-wrap: nowrap;
}

img:hover {
    transform: scale(1.03);

}

.custom-table td, th {
    padding-bottom: 10px;
}

.custom-table{
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}
.custom-table h2 {
    font-size:2rem;
    text-align: center;

}

