body {
font-family: 'Roboto';
margin: 0;
padding: 0;
line-height: 1;
}

body h1 {
    background-color: rgb(226, 183, 183);
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    
   
}

body h2 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    
}

header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 1px;
}

main {
    padding: 20px;

}

button {
    
    border-radius: 5px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
    border: none;
    padding: 10px 20px;
}

button:hover {
    transform: scale(1.1); 
    

}

img {
    border: 0px solid #333;
    border-radius: 13px;


}