body {
font-family: 'Roboto';
margin: 0;
padding: 0;
line-height: 1;
}



header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 1px;
}

main {
    padding: 20px;

}

button {
    
    border-radius: 5px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
    border: none;
    padding: 10px 20px;
}

button:hover {
    transform: scale(1.1); 
    

}

img {
    border: 3px dashed #333;
    border-radius: 10px;


}